/* Переменные */

:root {
/* Цвета текста */
    --primary-title-color: #FFFFFF;
    --secondary-title-color: #212121;
    --primary-text-color: #757575;
    --active-color: #2196F3;
    --footer-address-color: rgba(255, 255, 255, 0.6);
/* Цвет фона */
    --page-background-color: #E5E5E5;
    --header-background-color: #FFFFFF;
    --footer-background-color:#2F303A;
    --section-background-color: #F5F4FA;
}

/* Стили по селекторам тега  */

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    letter-spacing: 0.03em;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Общие классы */

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    font-style: normal;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
  }

  .section {
      padding-top: 94px;
      padding-bottom: 94px;
  }

/* Header */

.header {
    background-color: var(--header-background-color); 
    letter-spacing: 0.02em;
    border-bottom: 1px solid #ECECEC;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header-container {
display: flex;
}

.nav {
    display: flex;
    align-items: center;
}
.nav-list .nav-link.current {
    color: var(--active-color);
}

.nav-list .nav-link.current::after {
    content: '';

    position: absolute;

    width: 100%;
    height: 4px;

    right: 0;
    bottom: 0;

    background: #2196F3;
    border-radius: 2px;
}

.nav-list {
    display: flex;
    margin-left: 93px;
}

.nav-item:not(:last-child) {
    margin-right: 50px;
}

.nav-link {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    color: var(--secondary-title-color);
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.nav-link:hover,
.nav-link:focus {
    color: var(--active-color);
}

.logo {
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    color: var(--active-color);
}

.header-logo {
    color: #000000;
    }

.contacts-list {
    display: flex;
    align-items: center;
    margin-left: auto;
    color: var(--primary-text-color);
}

.contacts-item {
    display: flex;
    }

.contacts-item:not(:last-child) {
    margin-right: 50px;
}

.contacts-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    color: var(--primary-text-color);
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--active-color);
}

.contacts-icon {
margin-right: 10px;
align-self: center;
fill: currentColor;
}

/* Main */

/* Hero */
.hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin: 0 auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.35;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--header-background-color);
    width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.hero-button {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.9;

    display: flex;
    letter-spacing: 0.06em;

    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-width: 0;
    border-radius: 4px;
    margin: 0 auto;
    padding: 10px 32px;

    color: var(--header-background-color);

    cursor: pointer;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.8); 
    opacity: 0;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    min-width: 528px;
    min-height: 581px;

    padding-top: 40px;
    padding-bottom: 40px;

    background-color: var(--primary-title-color);

    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
    position: absolute;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;

    background-color: var(--primary-title-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    box-sizing: border-box;
}

.close-button:hover {
    cursor: pointer;
}
.close-button-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover > .close-button-icon,
.close-button:focus > .close-button-icon {
    fill: var(--active-color);
}


.modal-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--secondary-title-color);

    margin-bottom: 12px;
}

/* Form */

.form-modal {
    max-width: 448px;
    margin-right: auto;
    margin-left: auto;
}

.form-field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.label {
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
}

.form-input {
    padding: 12px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
border-color: var(--active-color);
}

.form-input:focus + .form-field-icon {
    fill:var(--active-color);
}

.form-field-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-field {
    display: flex;
    flex-direction: column;

    margin-bottom: 20px;
}

.textarea {
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus {
    border-color: var(--active-color);
    }

.textarea::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.checkbox:checked + .checkbox-text > span {
    background-color: var(--active-color);
    border: none;
}

.checkbox-text {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.7;
    color: var(--primary-text-color);
    margin-bottom: 30px;
    cursor: pointer;
}

.checkbox-text > a {
    color: var(--active-color);
}

.checkbox-text > span {
    width: 16px;
    height: 15px;
    border: 1px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.send-button {
    display: block;
    margin-left: auto;
    margin-right: auto;

    font-weight: bold;
    font-size: 16px;
    line-height: 1.9;

    width: 200px;
    letter-spacing: 0.06em;

    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-width: 0;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;

    color: var(--header-background-color);

    cursor: pointer;
}

/* Преимущества */

.benefits {
    padding-top: 94px;
    display: flex;
}

.benefits-list {
    display: flex;
    margin-right: -30px;
}

.benefits-item {
    flex-basis: calc(100% / 4 - 30px);
    margin-right: 30px;
}

.benefits-box {
    display: flex;
    width: 270px;
    height: 120px;
    background-color: var(--section-background-color);
    border-radius: 4px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
}


.benefits-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.15;
    text-transform: uppercase;
    color: var(--secondary-title-color);
    margin-bottom: 10px;
}

.benefits-text {
    font-size: 14px;
    line-height: 1.7;
}

/* Чем мы занимаемся */

.doing-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.15;
    text-align: center;
    color: var(--secondary-title-color);
    margin-bottom: 50px;
}

.doing-list {
    display: flex;
    margin-right: -30px;
}

.doing-item {
    position: relative;
    flex-basis: calc(100% / 3 - 30px);
    margin-right: 30px;
}

.doing-item-text {
    position: absolute;

    width: 100%;
    height: auto;

    left: 0;
    bottom: 0;

    font-weight: bold;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    padding-top: 27px;
    padding-bottom: 27px;
    background-color: rgba(47, 48, 58, 0.8);
    color: #FFFFFF;
}

/* Наша команда */

.team {
    background-color:var(--section-background-color);
}

.team-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.5;
    text-align: center;
    color: var(--secondary-title-color);
    margin-bottom: 50px;
}

.team-list {
    display: flex;
    margin-right: -30px;
}

.team-item {
    background-color: var(--header-background-color);
    flex-basis: calc(100% / 4 - 30px);
    margin-right: 30px;
    background: var(--primary-title-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-card {
    padding-top: 30px;
    padding-bottom: 30px;
}

.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    text-align: center; 
    color: var(--secondary-title-color);
    margin-bottom: 10px;
}

.work-position {
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    margin-bottom: 16px;
}

.social-list {
    display: flex;
    justify-content: center;
}

.social-item:not(:last-child) {
    margin-right: 10px;
    }

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    cursor: pointer;
    background-color: var(--active-color);
    outline: none;
}

.social-icon {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
    fill: var(--primary-title-color);
}

/* Постоянные клиенты */
.customers-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.5;
    text-align: center;
    color: var(--secondary-title-color);
    margin-bottom: 50px;
}

.customers-list {
    display: flex;
    justify-content: center;
}

.customers-item:not(:last-child) {
    margin-right: 30px;
}

.customers-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
    cursor: pointer;
    border-color: var(--active-color);
}

.customers-link:focus {
    outline: none;
}

.customers-icon {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
    fill: var(--active-color);
}

/* Портфолио */

.filters-list {
    display: flex;
    justify-content: center;
    margin-right: -8px;
    margin-bottom: 50px;
}

.filter-button {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    color: var(--secondary-title-color);
    background: var(--section-background-color);
    border-radius: 4px;
    border: none;
    flex-basis: calc(100% / 5 - 8px);
    margin-right: 8px;
    padding: 6px 22px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
    color: var(--header-background-color);
    background-color: var(--active-color);
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    outline: none;
}

/* Наши проекты */

.project-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
}

.project-list > .project-item {
    flex-basis: calc(100% / 3 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
}

.project-item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}

.project-link {
    display: inline-block;
    color: var(--primary-text-color);
}

.project-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    outline: none;
}

.project-thumb {
    position: relative;
    overflow: hidden;
}

.project-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);

    font-weight: normal;
    font-size: 18px;
    line-height: 1.55;
    color: var(--primary-title-color);

    padding: 63px 24px;

    opacity: 0;

    transform: translatey(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover .project-overlay,
.project-link:focus .project-overlay {
    opacity: 1;
    transform: translatey(-100%);
}

.project-card {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
}

.project-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--secondary-title-color);
}

.project-title:not(:last-child) {
    margin-bottom: 10px;
}

.project-text {
    font-size: 16px;
    line-height: 1.9;
}


/* Footer */

.footer {
    display: flex;
    background-color: var(--footer-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-container {
    display: flex;
}

.logo-footer {
    color: #FFFFFF;
    }

.address {
    margin-top: 20px;
}

.addres-box {
    margin-right: 70px;
}

.address-item:not(:last-child) {
    margin-bottom: 9px;
}

.map-link {
    font-size: 14px;
    line-height: 1.7;
    color: var(--header-background-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.map-link:hover,
.map-link:focus {
    color: var(--active-color);
}

.address-link {
    font-size: 14px;
    line-height: 1.7;
    color: var(--footer-address-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
    color: var(--active-color);
}

.join {
    margin-top: 12px;
    margin-right: 93px;
    fill: var(--primary-title-color);
}

.join-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.15;
    text-transform: uppercase;
    color: var(--primary-title-color);
    margin-bottom: 20px;
}

.join-list {
    display: flex;
    justify-content: center;
}

.join-item:not(:last-child) {
margin-right: 10px;
}

.join-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-link:hover,
.join-link:focus  {
    cursor: pointer;
    background-color: var(--active-color);
}

.join-icon {
    fill: var(--header-background-color);
}
   
.subscribe {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 12px;
    margin-left: 0;
    width: 570px;
    height: 86px;
}

.subscribe-email {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.subscribe-email label {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.15;
    text-transform: uppercase;
    color: var(--primary-title-color);
    margin-bottom: 20px;
}

.subscribe-email input {
    margin: 0;
    height: 50px;
    padding: 15px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: #2F303A;
    color: rgba(255, 255, 255, 0.6);;
}

.subscribe-email input::placeholder {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.subscribe-button {
    display: flex;
    align-items: center;
    width: 200px;
    height: 50px;
    padding: 10px 29px;
    margin-left: 12px;
    letter-spacing: 0.06em;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.9;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-width: 0;
    border-radius: 4px;
    color: var(--header-background-color);

    cursor: pointer;
}

.subscribe-icon {
    margin-left: 10px;
}