.customers-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.5;
    text-align: center;
    color: var(--secondary-title-color);
    margin-bottom: 50px;
}

.customers-list {
    display: flex;
    justify-content: center;
}

.customers-item {
    &:not(:last-child) {
    margin-right: 30px;
    }
}

.customers-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        cursor: pointer;
        border-color: var(--active-color);
        outline: none;
    }
}

.customers-icon {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .customers-link:hover &,
    .customers-link:focus & {
        fill: var(--active-color);
    }
}