.header {
    background-color: var(--header-background-color); 
    letter-spacing: 0.02em;
    border-bottom: 1px solid #ECECEC;
}

.header-container {
display: flex;
}

.nav {
    display: flex;
    align-items: center;
}
.nav-list .nav-link.current {
    color: var(--active-color);
}

.nav-list .nav-link.current::after {
    content: '';

    position: absolute;

    width: 100%;
    height: 4px;

    right: 0;
    bottom: 0;

    background: #2196F3;
    border-radius: 2px;
}

.nav-list {
    display: flex;
    margin-left: 93px;
}

.nav-item:not(:last-child) {
    margin-right: 50px;
}

.nav-link {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    color: var(--secondary-title-color);
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.nav-link:hover,
.nav-link:focus {
    color: var(--active-color);
}

.header-logo {
    color: #000000;
    }

.contacts-list {
    display: flex;
    align-items: center;
    margin-left: auto;
    color: var(--primary-text-color);
}

.contacts-item {
    display: flex;
    }

.contacts-item:not(:last-child) {
    margin-right: 50px;
}

.contacts-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    color: var(--primary-text-color);
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--active-color);
}

.contacts-icon {
    margin-right: 10px;
    align-self: center;
    fill: currentColor;
}