.form-modal {
    max-width: 448px;
    margin-right: auto;
    margin-left: auto;
}

.form-field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.label {
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
}

.form-input {
    padding: 12px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
border-color: var(--active-color);
}

.form-input:focus + .form-field-icon {
    fill:var(--active-color);
}

.form-field-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-field {
    display: flex;
    flex-direction: column;

    margin-bottom: 20px;
}

.textarea {
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus {
    border-color: var(--active-color);
    }

.textarea::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.checkbox:checked + .checkbox-text > span {
    background-color: var(--active-color);
    border: none;
}

.checkbox-text {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.7;
    color: var(--primary-text-color);
    margin-bottom: 30px;
    cursor: pointer;
}

.checkbox-text > a {
    color: var(--active-color);
}

.checkbox-text > span {
    width: 16px;
    height: 15px;
    border: 1px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.send-button {
    display: block;
    margin-left: auto;
    margin-right: auto;

    font-weight: bold;
    font-size: 16px;
    line-height: 1.9;

    width: 200px;
    letter-spacing: 0.06em;

    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-width: 0;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;

    color: var(--header-background-color);

    cursor: pointer;
}